html {
  font-size: 10px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 20px;
}

.nav-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 600px;
  font-family: 'Questrial', sans-serif;
}

.nav-text-container a {
  text-decoration: none;
  color: #6fd3ed;
  padding: 1rem;
  font-size: 2rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.nav-text-container a:hover {
  -webkit-text-decoration: underline #fb12e8;
          text-decoration: underline #fb12e8;
}

#logo {
  width: 100px;
}

.hero {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.7))), no-repeat center/cover url("../img/cityscape.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.7)), no-repeat center/cover url("../img/cityscape.jpg");
  height: 100vh;
  margin: 0;
  color: #fff;
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 85vh;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero-content div,
.hero-content img {
  padding: 20px;
}

#center-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header {
  font-size: 5.6rem;
  margin: 0;
  font-family: 'Reem Kufi', sans-serif;
  text-transform: uppercase;
}

.secondary-header {
  font-size: 4rem;
  font-family: 'Reem Kufi', sans-serif;
  text-transform: uppercase;
  opacity: 0.8;
  margin: 0 auto 5rem;
  display: inline-block;
}

.secondary-header:after {
  content: '';
  display: block;
  height: 15px;
  position: relative;
  width: 100%;
  background-color: #fb12e8;
  margin: 0 auto;
  margin-top: -22px;
  z-index: -1;
}

.header-text {
  font-size: 2.4rem;
  font-family: 'Questrial', sans-serif;
}

#hero-button {
  background: #fb12e8;
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: 'Questrial', sans-serif;
  padding: 12px;
  border: none;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#hero-button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.general-text {
  font-size: 1.6rem;
  font-family: 'Questrial', sans-serif;
}

.features {
  background: #ededed;
  padding: 5rem 0 7rem;
  font-family: 'Questrial', sans-serif;
  text-align: center;
}

.features-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 1100px;
  margin: 0 auto;
}

.features-feature-div {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: rgba(111, 211, 237, 0.6);
  padding: 1.5rem;
  margin: 1.5rem;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 1.6rem;
  text-align: left;
}

.features-feature-div:hover {
  -webkit-transform: scale(1.05) translateY(-10px);
          transform: scale(1.05) translateY(-10px);
}

.features-header {
  text-align: center;
  font-size: 2.6rem;
  text-transform: uppercase;
  font-weight: lighter;
}

.features-icon {
  font-size: 8rem;
  display: inline-block;
  text-align: center;
  width: 100%;
  color: #034b69;
}

.features-checkmark {
  float: left;
  margin-right: 0.5rem;
  color: #034b69;
  font-size: 1.6rem;
}

.testimonials {
  text-align: center;
  background: #034a69;
  padding: 5rem 0 7rem;
}

.testimonials-headshot {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
/*# sourceMappingURL=main.css.map */